        * {
            margin: relative;
            padding: relative;
        }
        
        .main {
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(BACKGROUNDIMAGE.jpg);
            background-position: center;
            background-size: cover;
            height: 100vh;
        }
        
        .navbar {
            width: 1200px;
            height: 75px;
            margin: auto;
        }
        
        .icon {
            float: left;
            width: 200px;
            height: 70px;
        }
        
        .logo {
            padding-left: 0;
            padding-top: 10px;
            float: none;
            height: 75px;
            width: 150px;
        }
        
        .menu {
            width: 400px;
            float: left;
            height: 70px;
        }
        
        ul {
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        ul li {
            list-style: none;
            margin-left: 62px;
            margin-top: 27px;
            font-size: 14px;
            display: inline;
        }
        
        ul li a {
            text-decoration: none;
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            transition: 0.4s ease-in-out;
        }
        
        ul li::after {
            content: '';
            height: 3px;
            width: 0;
            background: #009688;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }
        
        ul li:hover::after {
            width: 100%;
        }
        
        .search {
            width: 330px;
            float: left;
            margin-left: 270px;
        }
        
        .srch {
            font-family: 'Times New Roman', Times, serif;
            width: 200px;
            height: 40px;
            background: transparent;
            border: 1px solid rgba(153, 74, 5, 0.878);
            margin-top: 13px;
            color: aliceblue;
            border-right: none;
            font-size: 16px;
            float: left;
            padding: 10px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        
        .btn {
            width: 100px;
            height: 40px;
            background: coral;
            border: 2px solid rgba(153, 74, 5, 0.878);
            margin-top: 13px;
            color: aliceblue;
            font-size: 15px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        .btn:focus {
            outline: none;
        }
        
        .srch:focus {
            outline: none;
        }
        
        .content {
            width: 1200px;
            height: auto;
            margin: auto;
            color: aliceblue;
            position: relative;
        }
        
        .content p {
            padding-left: 20px;
            padding-bottom: 25px;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 1.2px;
            line-height: 30px;
        }
        
        .content h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 50px;
            padding-left: 20px;
            margin-top: 9px;
            letter-spacing: 2px;
        }
        
        .content .cn {
            width: 160px;
            height: 40px;
            background: coral;
            border: none;
            margin-bottom: 10px;
            margin-left: 20px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
        }
        
        .content .cn a {
            text-decoration: none;
            color: black;
            transition: 3s ease;
        }
        
        .cn:hover {
            background-color: aliceblue;
        }
        
        .content span {
            color: coral;
            font-size: 60px;
        }
        
        .form {
            width: 250px;
            height: 490px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
            position: absolute;
            top: 100px;
            left: 870px;
            border-radius: 10px;
            padding: 25px;
        }
        
        .form h2 {
            width: 220px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: coral;
            font-size: 22px;
            background-color: aliceblue;
            border-radius: 10px;
            margin: 2px;
            padding: 8px;
        }
        
        .form input {
            width: 240px;
            height: 35px;
            background: transparent;
            border-bottom: 1px solid coral;
            border-top: none;
            border-right: none;
            border-left: none;
            color: aliceblue;
            font-size: 15px;
            letter-spacing: 1px;
            margin-top: 30px;
            font-family: sans-serif;
        }
        
        .form input:focus {
            outline: none;
        }
        
         ::placeholder {
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .btnn {
            width: 240px;
            height: 40px;
            background: coral;
            border: none;
            margin-top: 30px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            color: aliceblue;
            transition: 0.4s;
        }
        
        .btnn:hover {
            background: aliceblue;
            color: coral;
        }
        
        .btnn a {
            text-decoration: none;
            background-color: coral;
            color: black;
            font-weight: bold;
            font-size: 22px;
        }
        
        .form .link {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            padding-top: 20px;
            text-align: center;
        }
        
        .form .link a {
            text-decoration: none;
            color: coral;
        }
        
        .liw {
            padding-top: 15px;
            padding-bottom: 10px;
            text-align: center;
        }
        
        .icon a {
            text-decoration: none;
            color: aliceblue;
        }
        
        .icon ion-icon {
            color: aliceblue;
            font-size: 22px;
            padding-left: 14px;
            padding-top: 5px;
        }
        
        .icon ion-icon:hover {
            color: coral;
        }